<%- include('parts/header') %>
<main class="mt-4">
    <div class="container text-center">
        <h1>Assalomu alaykum <%= user_name ? user_name : "Mehmon" %></h1>
    </div>
</main>



<%- include('parts/footer') %>