<%- include('parts/header') %>
<main class="mt-4">
    <div class="container text-center">
        <h1>Login</h1>
        <div class="row">
            <div class="col-lg-6 mx-auto mt-2 col-12">
                <% if(error) {%>
                <div class="alert alert-danger"><%= error %></div>
                <% } %>
                <form action="/login" method="POST">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput" autocomplete="off"
                            placeholder="name@example.com" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                            autocomplete="off" placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="btn btn-primary w-100 mt-3">Login</button>
                </form>
            </div>
        </div>
    </div>
</main>



<%- include('parts/footer') %>